@using ToolShare.Data.Models
@if (!_isLoading)
{
    <p>You are a member of @userInfo.PodJoinedName. See any tools you want to borrow?
        Please reach out to the tool owner via email to get started.</p>
    <div>
        <a @onclick="ShowAllTools">All Tools</a>
        <a @onclick="ShowAvailableTools">Available Tools</a>
        <a @onclick="ShowCurrentTools">Your Tools</a>
    </div>

    <div>
        <p>Search by Name</p>
        <input type="search" @bind="nameFilter"/>
        <button @onclick="FilterTools">Search</button>
    </div>

    <MudDataGrid Items="@filteredTools" >
        <Columns>
            <PropertyColumn Property="tool =>tool.ToolPhotoUrl" Title="Photo"> 
                <CellTemplate>
                    <img src="@context.Item.ToolPhotoUrl" alt="picture of the tool" width="50px"/>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="tool => tool.Name" Title="Name">
                <CellTemplate>
                    <a class="nav-link" href="tool-detail/@context.Item.ToolId">@context.Item.Name</a>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="tool => tool.ToolOwnerName" Title="Tool Owner"/>
            <PropertyColumn Property="tool => tool.BorrowingPeriodInDays" Title="Loan Period"/>
            <PropertyColumn Property="tool => tool.ToolStatus" Title="Availability"/>
            <PropertyColumn Property="tool => tool.ToolId" Title="">
                <CellTemplate>
                    <button @onclick="async () => await HandleRequestClick(context.Item.ToolId)">Request?</button>
                </CellTemplate>
            </PropertyColumn>
        </Columns>
    </MudDataGrid>
    
    @if (Message != String.Empty)
    {
        <p>@Message</p>
    }
}
