@using ToolShare.Data.Models
@if (!_isLoading)
{
    <p>You are a member of @userInfo.PodJoinedName. See any tools you want to borrow?
        Just hit the request button. Feel free to email the tool owner to let them know
        you requested a tool.</p>
    
    <MudDataGrid Items="@filteredTools" Filterable="true">
        <Columns>
            <PropertyColumn Property="tool => tool.ToolPhotoUrl" Title="Photo">
                <CellTemplate>
                    <MudImage src="@context.Item.ToolPhotoUrl" alt="picture of the tool" Width="100" Elevation="10"/>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="tool => tool.Name" Title="Name">
                <CellTemplate>
                    <a class="nav-link" href="tool-detail/@context.Item.ToolId">@context.Item.Name</a>
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="tool => tool.ToolOwnerName" Title="Tool Owner"/>
            <PropertyColumn Property="tool => tool.BorrowingPeriodInDays" Title="Loan Period"/>
            <PropertyColumn Property="tool => tool.ToolStatus" Title="Availability"/>
            <PropertyColumn Property="tool => tool.ToolId" Title="">
                <CellTemplate>
                    <button @onclick="async () => await HandleRequestClick(context.Item.ToolId)">Request?</button>
                </CellTemplate>
            </PropertyColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager/>
        </PagerContent>
    </MudDataGrid>
    
    @if (Message != String.Empty)
    {
        <p>@Message</p>
    }
}
