@page "/manage-tools"
@using ToolShare.Data.Models
@using ToolShare.UI.Components

@if (!_isLoading)
{
    <h3>Manage Tools: @userInfo.UserName</h3>

    <h4> Tools You Own </h4>

    <MudDataGrid Items="@filteredOwnedTools">
        <TemplateColumn Title="Photo">
            <CellTemplate>
                <img src="@context.Item.ToolPhotoUrl" alt="picture of the tool" width="50px"/>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="tool => tool.Name" Title="Name" Sortable="true">
        </PropertyColumn>
        <PropertyColumn Property="tool => tool.ToolStatus" Title="Status">
        </PropertyColumn>
        <PropertyColumn Property="tool => tool.ToolRequesterName" Title="Requester"/>
        <PropertyColumn Property="tool => tool.ToolBorrowerName" Title="Borrower"/>
        <PropertyColumn Property="tool => tool.BorrowingPeriodInDays" Title="Loan Period"/>
        <TemplateColumn Title="Details">
            <CellTemplate>
                <a class="nav-link" href="tool-detail/@context.Item.ToolId">Click Here</a>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Actions">
            <CellTemplate>
            @switch (context.Item.ToolStatus)
            {
                case ToolStatus.Available:
                    <button @onclick="async () => await HandleDeleteClick(context.Item.ToolId)">Delete</button>
                    break;
                case ToolStatus.Borrowed:
                    break;
                case ToolStatus.Requested:
                    <button @onclick="async () => await HandleAcceptClick(context.Item.ToolId)">Accept</button>
                    break;
                case ToolStatus.ReturnPending:
                    <button @onclick="async () => await HandleAcceptReturnClick(context.Item.ToolId)">Mark Returned</button>
                    break;
            }
            </CellTemplate>
        </TemplateColumn>
    </MudDataGrid>
    
    <h4> Tools You've Borrowed </h4>

    <MudDataGrid Items="@filteredBorrowedTools">
        <TemplateColumn Title="Photo">
            <CellTemplate>
                <img src="@context.Item.ToolPhotoUrl" alt="picture of the tool" width="50px"/>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="tool => tool.Name" Title="Name" Sortable="true">
        </PropertyColumn>
        <PropertyColumn Property="tool => tool.ToolOwnerName" Title="Owner"/>
        <PropertyColumn Property="tool => tool.BorrowingPeriodInDays" Title="Loan Period"/>
        <PropertyColumn Property="tool => tool.ToolStatus" Title="Status"></PropertyColumn>
        <TemplateColumn Title="Details">
            <CellTemplate>
                <a class="nav-link" href="tool-detail/@context.Item.ToolId">Click Here</a>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Actions">
            <CellTemplate>
                <button @onclick="async () => await HandleRequestReturnClick(context.Item.ToolId)">Return</button>
            </CellTemplate>
        </TemplateColumn>
    </MudDataGrid>

}
