@page "/tool-detail/{toolId:int}"
@using ToolShare.UI.Dtos
@using ToolShare.UI.Identity

@inject IAccountManagement Acct

<AuthorizeView Context="authContext">
    @if (!_isLoading)
    {
        @if (Tool.ToolOwnerName == @authContext.User.Identity.Name)
        {
            <h3>@Tool.Name</h3>
            <p>You own this tool. If you would like to change the details. Please
                do so below.</p>

            <img src="@Tool.ToolPhotoUrl" alt="Photo of Tool" width="100px"/>
            
            <EditForm Model="@UpdateToolDTO" OnSubmit="HandleEditSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group row m-3">
                    <label for="ToolName" class="col-sm-2 col-form-label"> Name: </label>
                    <div class="col-sm-10">
                        <InputText class="form-control" id="ToolName" @bind-Value="UpdateToolDTO!.Name" />
                    </div>
                </div>

                <div class="form-group row m-3">
                    <label for="Description" class="col-sm-2 col-form-label"> Description: </label>
                    <div class="col-sm-10">
                        <InputText class="form-control" id="Description" @bind-Value="UpdateToolDTO!.Description" />
                    </div>
                </div>

                <div class="form-group row m-3">
                    <label for="BorrowingPeriodInDays" class="col-sm-2 col-form-label"> Borrowing Period (Day): </label>
                    <div class="col-sm-10">
                        <InputNumber class="form-control" id="BorrowingPeriodInDays" @bind-Value="UpdateToolDTO!.BorrowingPeriodInDays" />
                    </div>
                </div>
                
                <div class="form-group row m-3">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit Changes</button>
                    </div>
                </div>

            </EditForm>
            @if (Message != String.Empty)
            {
                <p>@Message</p>
            }
        }
        else
        {
            <h3>@Tool.Name</h3>

            <img src="@Tool.ToolPhotoUrl" alt="Photo of Tool" width="100px"/>
            <p>Tool Description: @Tool.Description</p>
            <p>Borrowing Period (Days): @Tool.BorrowingPeriodInDays</p>
            <p>Tool Status: @Tool.ToolStatus</p>
            <p>Tool Owner: @Tool.ToolOwnerName</p>
            <p> Tool Borrower: @Tool.ToolBorrowerName</p>
        }

    }
    

</AuthorizeView>
