@page "/current-user"

<h1 class="page-title">Details for @userInfo.UserName</h1>

<img src="@userInfo.ProfilePhotoUrl" 
     alt="Profile photo of user"
     width="150px"
     />

<p>First Name: @userInfo.FirstName</p>
<p>Last Name: @userInfo.LastName</p>
<p>Email: @userInfo.Email</p>
<p>About Me: @userInfo.AboutMe</p>
<p>Pod Joined: @userInfo.PodJoinedName </p>
<p>Pod Managed: @userInfo.PodManagedName</p>
