@page "/userdetail/{UserId}"

<h1 class="page-title">Details for @User.UserName</h1>

<p>First Name: @User.FirstName</p>
<p>Last Name: @User.LastName</p>
<p>Email: @User.Email</p>
<p>About Me: @User.AboutMe</p>